body {
  overflow: scroll;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin: 0;
}

@font-face {
  font-family: "Cozette";
  src: url("assets/font/CozetteVector.ttf") format("truetype");
}

:root {
  /* Breakpoints/Container sizes */
  --tablet-w: 768px;
  --phone-w: 360px;
  /* Colors */
  --main-bg-color: #282c34;
  --main-font-color: #d5d7d8;
  --dark-font-color: #818584;
  --bi-color-pink: #d60270;
  --bi-color-purple: #d16fcb;
  --bi-color-blue: #0038a8;
  /* Spacing */
  --padding: 4px;
  --margin: 1em;
  /* Font size */
  --font-size-small: 12px;
  --font-size-reg: 16px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;
  --font-size-huge: 36px;
}

a {
  color: var(--bi-color-purple);
}

a:hover,
a:focus {
  color: var(--bi-color-blue);
}

.grid-container {
  max-width: var(--tablet-w);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* gap: 0 var(--padding) ; */
  grid-template-areas:
    "header"
    "donate"
    "links"
    "content";
  place-items: center;
  margin: auto;
  padding: var(--padding);
}

/*
        .grid-container>* {
            height: 50vh;
        }

        @media screen and (max-width: 768px) {
            .grid-container {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "."
                    ".";
            }
        } */

.book-cover {
  /* background-repeat: no-repeat;
  background-origin: center;
  background-size: contain;
  background-position-x: center;
  background-clip: content-box; */
  width: 9em;
  justify-self: center;
}

.book-cover.sapphire-shadow {
  background-image: url(./assets/img/sapphire-shadow-cover.jpg);
}

.font-cozette {
  font-family: "Cozette", monospace;
  color: var(--main-font-color);
  font-size: var(--font-size-reg);
  font-weight: 100;
}

.bg {
  background-color: var(--main-bg-color);
}

.header-container {
  grid-area: header;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-self: stretch;
  border: 3px solid var(--dark-font-color);
}

.donate-container {
  grid-area: donate;
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: var(--margin) 0 0 0;
}

.header-container h1 {
  font-size: 48px;
  font-weight: 100;
}

.nav-container {
  grid-area: links;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". . . .";
}
.nav-list li {
  font-size: var(--font-size-large);
  border-top: 1px solid var(--dark-font-color);
  border-left: 1px solid var(--dark-font-color);
  border-right: 1px solid var(--dark-font-color);
  padding: var(--padding);
  margin-right: var(--padding);
  margin-top: var(--margin);
}

.nav-link {
  display: block;
}

.nav-list li:hover,
.nav-list li.active {
  padding-top: 6px;
  background-color: var(--main-font-color);
  border-color: var(--main-font-color);
  margin-top: 0.75em;
}
.nav-list li:hover .nav-link,
.nav-link:focus,
.nav-list li.active .nav-link {
  color: var(--bi-color-blue);
  outline: none;
}

.main-section {
  grid-area: content;
  border: 1px solid var(--main-font-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  transform-origin: top;
  padding: var(--padding);
}

@keyframes slideDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes slideUp {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

.slideOpen {
  animation-name: slideDown;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-delay: 0s;
}

.slideClose {
  animation-name: slideUp;
  animation-duration: 150ms;
  animation-timing-function: linear;
  animation-delay: 0s;
}

.main-section > section {
  display: none;
}

.main-section > section.active {
  display: block;
}

.news-card {
  border: 1px solid var(--dark-font-color);
  margin: var(--padding);
  padding: var(--padding);
}

.desaturate {
  filter: saturate(0.75);
}

.work-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 200px auto;
  grid-template-areas:
    "img title title "
    "img summary summary "
    "links summary summary";
  gap: var(--padding);
  border: 1px solid var(--dark-font-color);
  margin: var(--padding);
  padding: var(--padding);
}
.work-card h3 {
  grid-area: title;
  text-decoration: underline;
}
.work-card .book-cover {
  grid-area: img;
}
.work-card .summary {
  grid-area: summary;
  overflow: auto;
}

.work-card .summary p {
  margin: var(--margin) 0 0 0;
}
.work-card .links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: var(--font-size-large);
}
